input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 15px;
}

.navbar-default {
    background-color: darkred;
    border-color: darkred;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    width: 100%;
}

.navbar-default .navbar-link {
    color: mintcream;
}

.navbar.navbar-default a {
    color: mintcream;
}

body {
    padding-top: 72px;
    padding-bottom: 72px;
}