<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Music DB App</h1>
            <h2>Album Search by Artist</h2>
            <input ng-model="project.artist"
                   class="form-control"
                   type="text"
                   placeholder="Enter artist name">
            <button class="btn btn-primary btn-block"
                    href="#!/results"
                    ng-click="findAlbumsByArtist(project.artist)">
                Search
            </button>
            <button class="btn btn-success btn-block"
                    href="#!/login">Login
            </button>
            <button class="btn btn-danger btn-block"
                    href="http://www.google.com">Go to Google
            </button>
        </div>
    </div>
</div>

