<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="list-item">
        <div class="col-xs-12">
            <a href="widget-heading.view.client.html">Header</a>
        </div>
    </div>

    <div class="list-item">
        <div class="col-xs-12">
            <a href="widget-image.view.client.html">Image</a>
        </div>
    </div>

    <div class="list-item">
        <div class="col-xs-12">
            <a href="widget-youtube.view.client.html">YouTube</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="../../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>