<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Widgets
                </a>
            </div>
        </div>
    </nav>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <ul wbdv-sortable page-id="{{model.pageId}}">
        <li ng-repeat="widget in model.widgets">
            <div class="wd-widget">
                <div class="wd-widget-toolbar">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
                    </a>
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>

            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">
                    <div ng-include
                                 ="'views/widget/templates/widget-heading.view.client.html'"></div>
                </div>
                <div ng-switch-when="IMAGE">
                    <div ng-include
                                 ="'views/widget/templates/widget-image.view.client.html'"></div>
                </div>
                <div ng-switch-when="YOUTUBE" class="youtube-widget">
                    <div ng-include
                                 ="'views/widget/templates/widget-youtube.view.client.html'"></div>
                </div>
                <div ng-switch-when="TEXT">
                    <div ng-include="'views/widget/templates/widget-text.view.client.html'"></div>
                </div>
            </div>
        </li>
    </ul>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row navbar-text pull-right">
                <div class="col-xs-3 text-center">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>