<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
               class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widgets
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-switch="widget.widgetType">
        <div ng-switch-when="HEADING">
            <ng-include
            ="'views/widget/editors/widget-heading-edit.view.client.html'">
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include
            ="'views/widget/editors/widget-image-edit.view.client.html'">
        </div>
        <div ng-switch-when="YOUTUBE">
            <ng-include
            ="'views/widget/editors/widget-youtube-edit.view.client.html'">
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>