<div class="container-fluid">
    <h1>Login</h1>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   placeholder="username"/>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   placeholder="password"/>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="profile.view.client.html">Login</a>
    <a class="btn btn-success btn-block"
       href="register.view.client.html">Register</a>
</div>