</div>
<form>
    <div class="form-group">
        <label for="widget-name">Name</label>
        <input ng-model="model.currentWidget.name"
               type="text"
               class="form-control"
               id="widget-name"
               placeholder="Enter image name"/>
    </div>

    <div class="form-group">
        <label for="widget-text">Text</label>
        <input ng-model="model.currentWidget.text"
               type="text"
               class="form-control"
               id="widget-text"
               placeholder="Enter image text"/>
    </div>

    <div class="form-group">
        <label for="image-url">URL</label>
        <input ng-model="model.currentWidget.url"
               type="text"
               class="form-control"
               id="image-url"
               placeholder="http://cdn.iflscience.com/images/042ddea7-9760-5f31-a825-3d1d700d84e6/large-1496748394-cover-image.jpg"/>
    </div>

    <div class="form-group">
        <label for="image-size">Size</label>
        <select ng-model="model.widget.size"
                class="form-control" id="image-size">
            <option>100%</option>
            <option>90%</option>
            <option>80%</option>
            <option>75%</option>
            <option>70%</option>
            <option>60%</option>
            <option>50%</option>
            <option>40%</option>
            <option>30%</option>
            <option>25%</option>
            <option>20%</option>
            <option>10%</option>
        </select>
    </div>

    <form action="/api/assignment/upload" method="post" enctype="multipart/form-data">
        <input name="myFile" type="file" class="form-control"/>
        <input name="width" value="{{model.widget.width}}" style="display: none"/>
        <input name="userId" value="{{model.userId}}" style="display: none"/>
        <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
        <input name="pageId" value="{{model.pageId}}" style="display: none"/>
        <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    </form>

</form>

<a class="btn btn-danger btn-block"
   ng-click="model.deleteWidget()">Delete</a>
</div>
