<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../../website/templates/website-list.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="page-new.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Pages
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="list-item">
        <div class="col-xs-12">
            <a href="../../widget/templates/widget-list.view.client.html">Blog Post</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
    </div>

    <div class="list-item">
        <div class="col-xs-12">
            <a href="../../widget/templates/widget-list.view.client.html">Blogs</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
    </div>

    <div class="list-item">
        <div class="col-xs-12">
            <a href="../../widget/templates/widget-list.view.client.html">Home</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
    </div>

    <div class="list-item">
        <div class="col-xs-12">
            <a href="../../widget/templates/widget-list.view.client.html">About</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
    </div>

    <div class="list-item">
        <div class="col-xs-12">
            <a href="../../widget/templates/widget-list.view.client.html">Contact Us</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
    </div>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="../../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>