<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="/user/{{model.userID}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Pages
                </a>
            </div>
        </div>

        <div class="col sm-8">
            <div class="navbar-text pull-right">
                <a ng-click="model.createPage()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    New Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-4 hidden-xs">
        <div class="list-group">
            <div ng-repeate="page in model.pages" class="col-xs-12">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <form ng-submit="model.updatePage">
            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>
            <div ng-show="model.message" class="alert alert-danger">
                {{model.message}}
            </div>
            <div class="form-group">
                <label for="sitename">Name</label>
                <input ng-model="model.page.name"
                       type="text"
                       class="form-control"
                       id="sitename"
                       placeholder="Page Name"/>
            </div>

            <div class="form-group">
                <label for="description">Title</label>
                <input ng-model="model.page.description"
                       type="text"
                       class="form-control"
                       id="description"
                       placeholder="Page Title"/>
            </div>

            <div class="form-group">
                <a href ng-click="model.deletePage" class="btn btn-lg btn-block"
                   type="submit">Delete</a>
            </div>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>